<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
<center>
  <h1>Enter New Password</h1>
        <table border="1" bordercolor="black" cellspacing="0" cellpadding="20">
            <tr>
                <td>
                    <form action="/resetPass" method="post">
                        <div>
                            <label style="color: blueviolet;">
                                <b>Old Password</b>
                            </label><br>
                            <input type="password" name="current_password" placeholder="Enter Old Password">
                            <br>
                            <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                <div style="color: red;">
                                    <%= error1 %>
                                </div>
                                <% } %>
                        </div><br>
                        <div>
                            <label style="color: blueviolet;">
                                <b>New Password</b>
                            </label><br>
                            <input type="password" name="password" placeholder="Enter New Password">
                            <br>
                            <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                <div style="color: red;">
                                    <%= error2 %>
                                </div>
                                <% } %>
                        </div><br>
                        <div>
                            <label style="color: blueviolet;">
                                <b>Confirm Password</b>
                            </label><br>
                            <input type="password" name="confirm_password" placeholder="Confirm Password">
                            <br>
                            <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                <div style="color: red;">
                                    <%= error3 %>
                                </div>
                                <% } %>
                        </div><br>
                        <center>
                            <button><a href="/index">Okk</a></button>
                        </center>
                    </form>
                </td>
            </tr>
        </table>
</center>
</body>
</html>